<div style="margin-top:10px" class="index_slider">
    <div class="container">
        <div class="callbacks_container">
            <ul class="rslides" id="slider">
                <li><img src="~/frontend/images/slider1.jpg" class="img-responsive" alt="" /></li>
                <li><img src="~/frontend/images/2.jpg" class="img-responsive" alt="" /></li>
                <li><img src="~/frontend/images/3.jpg" class="img-responsive" alt="" /></li>
            </ul>
        </div>
    </div>
</div>
<h1 style="padding:50px" class="text-danger text-center text-decoration-underline">Welcome!</h1>
