@model int

<div style="background-color:white;padding:0px 3px">
    <a style="color:red;font-weight:900" asp-action="GetCart" asp-controller="CartControllers"><span> Cart(@Model)</span>

    </a>

</div>