@using Microsoft.AspNetCore.Http
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Gifty an E-Commerce online Shopping Category Flat Bootstarp responsive Website Template| Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gifty Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/frontend/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="~/frontend/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/frontend/css/jquery.countdown.css" />
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/frontend/js/jquery-1.11.1.min.js"></script>
    <!-- dropdown -->
    <script src="~/frontend/js/jquery.easydropdown.js"></script>
    <!-- start menu -->
    <link href="~/frontend/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/frontend/js/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <script src="~/frontend/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <script src="~/frontend/js/jquery.countdown.js"></script>
    <script src="~/frontend/js/script.js"></script>
</head>
<body>
    <div class="header_top">
        <div class="container">
            <div class="header_top-box">
                <div class="header-top-left">
                    <div class="box">
                        <select tabindex="4" class="dropdown drop">
                            <option value="" class="label" value="">Dollar :</option>
                            <option value="1">Dollar</option>
                            <option value="2">Euro</option>
                        </select>
                    </div>
                    <div class="box1">
                        <select tabindex="4" class="dropdown">
                            <option value="" class="label" value="">English :</option>
                            <option value="1">English</option>
                            <option value="2">French</option>
                            <option value="3">German</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="cssmenu">
                    <ul>
                        @if (Context.Session.GetString("UserID") != null){
                            <li>@await Component.InvokeAsync("CartCount")</li>
                        <li><span class="alert-success">Hi! @Context.Session.GetString("UserName")</span></li>
                        <li class="active"><a asp-action="Index" asp-controller="UserOrderControllers">Orders</a></li>
                            
                        <li><a href="wishlist.html">Wishlist</a></li>
                        <li><a asp-action="LogOut" asp-controller="ManageStores">Logout</a></li>
                        }
                        
                        <li><a asp-action="Login" asp-controller="ManageUsersControllers">Log In</a></li>
                        <li><a asp-action="Register" asp-controller="ManageUsersControllers">Sign Up</a></li>
                        
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="container">
            <div class="header_bottom-box">
                <div class="header_bottom_left">
                    <div class="logo">
                        <a href="index.html"><img src="~/frontend/images/logo.png" alt="" /></a>
                    </div>
                    <ul class="clock">
                        <i class="clock_icon"> </i>
                        <li class="clock_desc">Justo 24/h</li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="header_bottom_right">
                    <div class="search">
                        <input type="text" value="Your email address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your email address';}">
                        <input type="submit" value="">
                    </div>
                    <ul class="bag">
                        <a href="#"><i class="bag_left"> </i></a>
                        <a href="#">
                        <li class="bag_right"><p>205.00 $</p> </li></a>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="container">
            @await Component.InvokeAsync("Menu");
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <img src="~/frontend/images/pay.png" class="img-responsive" alt="" />
            <ul class="footer_nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
            <p class="copy">Copyright&copy; 2015 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
        </div>
    </div>
</body>
</html>		