@model PaymentGatewayVM

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <h2 class="text-danger text-center">Enter Card Details</h2>
            <form asp-action="PaymentGateway" method="post">
                <table class="table table-bordered">
                    <tr>
                        <td style="background-color:gray">Card Details</td>
                    </tr>
                    <tr>
                        <td>Enter Card No</td>
                        <td><input asp-for="CardNo" /></td>
                    </tr>
                    <tr>
                        <td>Enter CCV</td>
                        <td><input asp-for="CCV" /></td>
                    </tr>
                    <tr>
                        <td>Enter Expiry</td>
                        <td><input asp-for="ExpiryDate" /></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Save" class="btn btn-success" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>