@model ChangePasswordVM

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-primary">Change Password</h2>

            <form asp-action="ChangePassword" method="post">
                <div class="text-success">
                    @ViewBag.Message
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Old Password</label>
                    <input class="form-control" asp-for="OldPassword" />
                    <span class="text-danger" asp-validation-for="OldPassword"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">New Password</label>
                    <input class="form-control" asp-for="NewPassword" />
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>

                <div class="form-group">
                    <label class="control-label"> Confirm New Password</label>
                    <input class="form-control" asp-for="ConfirmNewPassword" />
                    <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                </div>
                <br />
                <div>
                    <input class="btn btn-primary" type="submit" value="Change Password" />
                </div>

            </form>
        </div>
    </div>    
</div>